## common import statements

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from matplotlib import pyplot

## Get data from website and assign appropriate headers.

In [2]:
# Importing the Data from the website,
other_path = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
data = pd.read_csv(other_path, names=headers)
data.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

## checking data types to get an idea on the data

In [3]:
data.dtypes #to know type of each coloumn.

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

## Remove ? and replace them with NAN values.

In [4]:
# Replace "?" to NaN,
data.replace("?", np.nan, inplace = True)
data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Create a table with true or false to see the null values and count null values in each coloumn.

In [5]:
is_data_null = data.isnull() #this will create a new table saying wheather the coresponding value is null or not.
is_data_null.head(5)
for col in is_data_null.columns.values.tolist():
    print(is_data_null[col].value_counts())
    print("")

False    205
Name: symboling, dtype: int64

False    164
True      41
Name: normalized-losses, dtype: int64

False    205
Name: make, dtype: int64

False    205
Name: fuel-type, dtype: int64

False    205
Name: aspiration, dtype: int64

False    203
True       2
Name: num-of-doors, dtype: int64

False    205
Name: body-style, dtype: int64

False    205
Name: drive-wheels, dtype: int64

False    205
Name: engine-location, dtype: int64

False    205
Name: wheel-base, dtype: int64

False    205
Name: length, dtype: int64

False    205
Name: width, dtype: int64

False    205
Name: height, dtype: int64

False    205
Name: curb-weight, dtype: int64

False    205
Name: engine-type, dtype: int64

False    205
Name: num-of-cylinders, dtype: int64

False    205
Name: engine-size, dtype: int64

False    205
Name: fuel-system, dtype: int64

False    201
True       4
Name: bore, dtype: int64

False    201
True       4
Name: stroke, dtype: int64

False    205
Name: compression-ratio, dtype: int64

False    203
True       2
Name: horsepower, dtype: int64

False    203
True       2
Name: peak-rpm, dtype: int64

False    205
Name: city-mpg, dtype: int64

False    205
Name: highway-mpg, dtype: int64

False    201
True       4
Name: price, dtype: int64

Replace by mean:

"normalized-losses": 41 missing data, replace them with mean "stroke": 4 missing data, replace them with mean "bore": 4 missing data, replace them with mean "horsepower": 2 missing data, replace them with mean "peak-rpm": 2 missing data, replace them with mean Replace by frequency

"num-of-doors": 2 missing data, replace them with "four". Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur Drop the whole row

"price": 4 missing data, simply delete the whole row Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us.

In [6]:
mean_fill_col = ["normalized-losses","bore","stroke","horsepower","peak-rpm"]
for col in mean_fill_col:
    mean = data[col].astype("float").mean(axis=0)
    data[col].replace(np.nan, mean, inplace=True)
data["num-of-doors"].replace(np.nan, "four", inplace=True)
data.dropna(subset=["price"], axis=0, inplace=True) #we don't need rows that don't have price which is our feature.
data.reset_index(drop=True, inplace=True)

## convert numerical data in object form to int or flot

In [7]:
#Converting the datatypes,
data[["bore", "stroke","price","peak-rpm"]] = data[["bore", "stroke","price","peak-rpm"]].astype("float")
data[["normalized-losses","horsepower"]] = data[["normalized-losses","horsepower"]].astype("int")
data.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int32
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

## Scale length, width, & height to have variance as 1.

In [8]:
#scaling the variable so the variable average is 0, scaling the variable so the variance is 1, 
#or scaling variable so the variable values range from 0 to 1 this is to normalize the data.
data["length"] = data["length"]/data["length"].max()
data["width"] = data["width"]/data["width"].max()
data['height'] = data['height']/data['height'].max() 
data[["length","width","height"]].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

## Convert fuel-type coloumn into dummies to get data in numerical format.

In [9]:
dummy = pd.get_dummies(data["fuel-type"])
dummy.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
data = pd.concat([data, dummy], axis=1)
data.drop("fuel-type", axis = 1, inplace=True)
data.head(5)

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,3.47,2.68,9.0,111,5000.0,21,27,13495.0,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,3.47,2.68,9.0,111,5000.0,21,27,16500.0,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,2.68,3.47,9.0,154,5000.0,19,26,16500.0,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,3.19,3.40,10.0,102,5500.0,24,30,13950.0,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,3.19,3.40,8.0,115,5500.0,18,22,17450.0,0,1

In [10]:
dummy = pd.get_dummies(data["aspiration"])
dummy.rename(columns={'std':"aspiration-std",'turbo':"aspiration-turbo"}, inplace=True)
data = pd.concat([data, dummy], axis=1)
data.drop("aspiration", axis = 1, inplace=True)
data.head(5)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,9.0,111,5000.0,21,27,13495.0,0,1,1,0
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,9.0,111,5000.0,21,27,16500.0,0,1,1,0
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,9.0,154,5000.0,19,26,16500.0,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,10.0,102,5500.0,24,30,13950.0,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,8.0,115,5500.0,18,22,17450.0,0,1,1,0

## Drop all catagorical data to only have numerical data.

In [11]:
data = data.select_dtypes(exclude=['object'])

## rearrange coloumn position in the data.

In [12]:
X=data.drop('price', axis=1)
y=data[['price']]
data = pd.concat([X, y], axis=1)
data.head(5)

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo,price
0,3,122,88.6,0.811148,0.890278,0.816054,2548,130,3.47,2.68,9.0,111,5000.0,21,27,0,1,1,0,13495.0
1,3,122,88.6,0.811148,0.890278,0.816054,2548,130,3.47,2.68,9.0,111,5000.0,21,27,0,1,1,0,16500.0
2,1,122,94.5,0.822681,0.909722,0.876254,2823,152,2.68,3.47,9.0,154,5000.0,19,26,0,1,1,0,16500.0
3,2,164,99.8,0.848630,0.919444,0.908027,2337,109,3.19,3.40,10.0,102,5500.0,24,30,0,1,1,0,13950.0
4,2,164,99.4,0.848630,0.922222,0.908027,2824,136,3.19,3.40,8.0,115,5500.0,18,22,0,1,1,0,17450.0

## export processed data to csv

In [13]:
data.to_csv('processed_data.csv')